# AWS Cognito Configuration
COGNITO_USER_POOL_ID=ap-south-1_bnMcGRdEV
COGNITO_CLIENT_ID=602b1v5b4unceh2n1fts3o0eoc
COGNITO_CLIENT_SECRET=

# DynamoDB Configuration
DYNAMODB_TABLE_NAME=DevVaultItems

# AWS Region
AWS_REGION=ap-south-1
